In [1]:
import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project")
print(os.getcwd())

In [2]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandasql as ps
import glob
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [3]:
states = pd.read_csv("data/States.csv")

In [4]:
def cap(string):
    if isinstance(string, str):
        return string.upper().replace(" COUNTY", "").capitalize().strip()
    else:
        return ""

In [5]:
#--------------------READING AND PRE-PROCESSING GREENHOUSE GAS INCOME DATA--------------------
#---------------------------------------------------------------------------------------------

def get_emissions(filename, year):
    
    #Loading data, keeping only relevant columns, and adding year as a constant variable
    xls = pd.ExcelFile(filename)
    data_test = xls.parse("Direct Emitters", skiprows=3, index_col=None, na_values=[np.nan])
    data_test = data_test.loc[:, "City":"Stationary Combustion"]
    data_test["Year"] = year
    return data_test


def get_all_emissions():
    files = glob.glob("data/ghgp_*")
    
    #Combining data from all different years
    for i in range(len(files)):
        year = int(files[i].split("_")[2])
        #print(year)
        print(files[i])
        
        if i == 0:
            data4 = get_emissions(files[i], year)
        else:
            upd = get_emissions(files[i], year)
            data4 = pd.concat([data4, upd])
    
    return data4

#Getting emissions data
data4 = get_all_emissions()

#Get full state name from abbreviation
data4 = pd.merge(data4, states, how="left", left_on=["State"], right_on=["Abbreviation"]).drop(["State_x", "Abbreviation"], axis=1)

#Dropping variables
data4 = data4.iloc[:, [23, 24, 3] + list(range(9, 23))]

#Renaming variables
data4.columns = ["Year", "State", "County", "Total Emissions", "CO2", "Methane",
                 "Nitrous Oxide", "HFC", "PFC", "SF6", "NF3", "Other Fluorane", 
                 "HFE", "Short Lived Compounds", "Other GHG", "Biogenic CO2", "Stationary Combustion"]

#Removing trailing blanks from county and state variables
data4["County"] = data4["County"].apply(cap)
data4["State"] = data4["State"].apply(cap)

#Grouping data into key variables and obtaining emission totals
data4 = data4.groupby(["Year", "State", "County"]).agg({"Total Emissions":[np.nansum],
                                               "CO2":[np.nansum],
                                              "Methane":[np.nansum],
                                               "Nitrous Oxide":[np.nansum],
                                               "HFC":[np.nansum],
                                               "PFC":[np.nansum],
                                               "SF6":[np.nansum],
                                               "NF3":[np.nansum],
                                               "Other Fluorane":[np.nansum],
                                               "HFE":[np.nansum],
                                               "Short Lived Compounds":[np.nansum],
                                               "Other GHG":[np.nansum],
                                               "Biogenic CO2":[np.nansum],
                                               "Stationary Combustion":[np.nansum]}).reset_index()

#Renaming after grouping
data4.columns = data4.columns.droplevel(1)

data/ghgp_data_2014_8_19_2018.xlsx
data/ghgp_data_2013_8_19_2018.xlsx
data/ghgp_data_2012_8_19_2018.xlsx
data/ghgp_data_2015_8_19_2018.xlsx
data/ghgp_data_2010_8_19_2018.xlsx
data/ghgp_data_2011_8_19_2018.xlsx
data/ghgp_data_2016_8_19_2018.xlsx

In [6]:
data4.head()

,Year,State,County,Total Emissions,CO2,Methane,Nitrous Oxide,HFC,PFC,SF6,NF3,Other Fluorane,HFE,Short Lived Compounds,Other GHG,Biogenic CO2,Stationary Combustion
0,2010,,Arecibo,302168.146,148171.2,153638.75,358.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,148679.646
1,2010,,Barceloneta,117314.526,116917.8,117.50,279.226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117314.526
2,2010,,Carolina,24387.246,24301.8,25.25,60.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24387.246
3,2010,,Carolina municipio,67573.350,0.6,67572.75,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.600
4,2010,,Ceiba,1340.728,1336.2,1.25,3.278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1340.728

In [23]:
ghg = data4.copy()

#Replace DC
ghg['State'] = ghg['State'].str.replace('Washington dc', 'district of columbia')
ghg['State'] = ghg['State'].str.lower().str.strip()
ghg['County'] = ghg['County'].str.lower().str.strip()

#Replace South Dakota
ghg['State'] = np.where(ghg['State']=='sout','south dakota',ghg['State'])

#drop NA states
ghg = ghg.replace('', np.nan)
ghg.head()

,Year,State,County,Total Emissions,CO2,Methane,Nitrous Oxide,HFC,PFC,SF6,NF3,Other Fluorane,HFE,Short Lived Compounds,Other GHG,Biogenic CO2,Stationary Combustion
0,2010,NaN,arecibo,302168.146,148171.2,153638.75,358.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,148679.646
1,2010,NaN,barceloneta,117314.526,116917.8,117.50,279.226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117314.526
2,2010,NaN,carolina,24387.246,24301.8,25.25,60.196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24387.246
3,2010,NaN,carolina municipio,67573.350,0.6,67572.75,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.600
4,2010,NaN,ceiba,1340.728,1336.2,1.25,3.278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1340.728

In [24]:
query="""SELECT DISTINCT State FROM ghg
"""
ps.sqldf(query=query)

                   State
0                   None
1                alabama
2                 alaska
3                arizona
4               arkansas
5             california
6               colorado
7            connecticut
8               delaware
9                florida
10               georgia
11                hawaii
12                 idaho
13              illinois
14               indiana
15                  iowa
16                kansas
17              kentucky
18             louisiana
19                 maine
20              maryland
21         massachusetts
22              michigan
23             minnesota
24           mississippi
25              missouri
26               montana
27              nebraska
28                nevada
29         new hampshire
30            new jersey
31            new mexico
32              new york
33        north carolina
34          north dakota
35                  ohio
36              oklahoma
37                oregon
38          pennsylvania
39          rhode island
40          south dakota
41        south carolina
42             tennessee
43                 texas
44                  utah
45               vermont
46              virginia
47            washington
48  district of columbia
49         west virginia
50             wisconsin
51               wyoming

In [8]:
ghg.to_csv("./cleaned_data/ghg_cleaning.csv", index=None, header=True)

In [9]:
#Checking Number of records for each combination of key variables
query="""SELECT DISTINCT Count FROM (SELECT Year, State, County, COUNT(*) AS Count FROM data4 GROUP BY Year, State, County)"""
ps.sqldf(query=query)

   Count
0      1

In [10]:
#Checking Number of Counties for each State
query = """SELECT State, COUNT(County) from data4 GROUP BY State"""
ps.sqldf(query=query)

             State  COUNT(County)
0                             178
1          Alabama            367
2           Alaska            119
3          Arizona            100
4         Arkansas            289
5       California            296
6         Colorado            216
7      Connecticut             56
8         Delaware             21
9          Florida            353
10         Georgia            502
11          Hawaii             33
12           Idaho            135
13        Illinois            525
14         Indiana            456
15            Iowa            432
16          Kansas            309
17        Kentucky            399
18       Louisiana            640
19           Maine             78
20        Maryland            150
21   Massachusetts             84
22        Michigan            439
23       Minnesota            385
24     Mississippi            374
25        Missouri            376
26         Montana            114
27        Nebraska            258
28          Nevada             64
29   New hampshire             47
30      New jersey            141
31      New mexico            124
32        New york            386
33  North carolina            373
34    North dakota            171
35            Ohio            523
36        Oklahoma            371
37          Oregon            154
38    Pennsylvania            433
39    Rhode island             21
40            Sout            123
41  South carolina            219
42       Tennessee            327
43           Texas           1103
44            Utah            130
45         Vermont             42
46        Virginia            596
47      Washington            158
48   Washington dc             14
49   West virginia            274
50       Wisconsin            313
51         Wyoming            142

In [11]:
#Obtaining map from State Code/County Code to County Name:
xls = pd.ExcelFile("data/all-geocodes-v2016.xlsx")
data_geo = xls.parse("Sheet1", skiprows=4, index_col=None, na_values=[np.nan])

statecd = data_geo[(data_geo["County Code (FIPS)"] == 0)*(data_geo["Place Code (FIPS)"] == 0)*(data_geo["Consolidtated City Code (FIPS)"] == 0)].reset_index(drop=True)

statecd = statecd[["State Code (FIPS)", "Area Name (including legal/statistical area description)"]]

countycd = data_geo[data_geo["County Code (FIPS)"] != 0][["State Code (FIPS)", "County Code (FIPS)", "Area Name (including legal/statistical area description)"]]

data_geo = pd.merge(countycd, statecd, how="inner", on="State Code (FIPS)")

In [12]:
data_geo

,State Code (FIPS),County Code (FIPS),Area Name (including legal/statistical area description)_x,Area Name (including legal/statistical area description)_y
0,1,1,Autauga County,Alabama
1,1,3,Baldwin County,Alabama
2,1,5,Barbour County,Alabama
3,1,7,Bibb County,Alabama
4,1,9,Blount County,Alabama
5,1,11,Bullock County,Alabama
6,1,13,Butler County,Alabama
7,1,15,Calhoun County,Alabama
8,1,17,Chambers County,Alabama
9,1,19,Cherokee County,Alabama
10,1,21,Chilton County,Alabama
11,1,23,Choctaw County,Alabama
12,1,25,Clarke County,Alabama
13,1,27,Clay County,Alabama
14,1,29,Cleburne County,Alabama
15,1,31,Coffee County,Alabama
16,1,33,Colbert County,Alabama
17,1,35,Conecuh County,Alabama
18,1,37,Coosa County,Alabama
19,1,39,Covington County,Alabama
20,1,41,Crenshaw County,Alabama
21,1,43,Cullman County,Alabama
22,1,45,Dale County,Alabama
23,1,47,Dallas County,Alabama
24,1,49,DeKalb County,Alabama
25,1,51,Elmore County,Alabama
26,1,53,Escambia County,Alabama
27,1,55,Etowah County,Alabama
28,1,57,Fayette County,Alabama
29,1,59,Franklin County,Alabama
...,...,...,...,...
24333,72,95,Maunabo Municipio,Puerto Rico
24334,72,97,Mayagüez Municipio,Puerto Rico
24335,72,99,Moca Municipio,Puerto Rico
24336,72,101,Morovis Municipio,Puerto Rico
24337,72,103,Naguabo Municipio,Puerto Rico
24338,72,105,Naranjito Municipio,Puerto Rico
24339,72,107,Orocovis Municipio,Puerto Rico
24340,72,109,Patillas Municipio,Puerto Rico
24341,72,111,Peñuelas Municipio,Puerto Rico
24342,72,113,Ponce Municipio,Puerto Rico
24343,72,115,Quebradillas Municipio,Puerto Rico
24344,72,117,Rincón Municipio,Puerto Rico
24345,72,119,Río Grande Municipio,Puerto Rico
24346,72,121,Sabana Grande Municipio,Puerto Rico
24347,72,123,Salinas Municipio,Puerto Rico
24348,72,125,San Germán Municipio,Puerto Rico
24349,72,127,San Juan Municipio,Puerto Rico
24350,72,129,San Lorenzo Municipio,Puerto Rico
24351,72,131,San Sebastián Municipio,Puerto Rico
24352,72,133,Santa Isabel Municipio,Puerto Rico
24353,72,135,Toa Alta Municipio,Puerto Rico
24354,72,137,Toa Baja Municipio,Puerto Rico
24355,72,139,Trujillo Alto Municipio,Puerto Rico
24356,72,141,Utuado Municipio,Puerto Rico
24357,72,143,Vega Alta Municipio,Puerto Rico
24358,72,145,Vega Baja Municipio,Puerto Rico
24359,72,147,Vieques Municipio,Puerto Rico
24360,72,149,Villalba Municipio,Puerto Rico
24361,72,151,Yabucoa Municipio,Puerto Rico
24362,72,153,Yauco Municipio,Puerto Rico