In [2]:
import os
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project")
print(os.getcwd())

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project

In [3]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandasql as ps
import glob
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [22]:
PM25_88101_raw = pd.read_csv("data/Gases&PM_AQI/PM2.5_88101_2016.csv")
PM25_88502_raw = pd.read_csv("data/Gases&PM_AQI/PM2.5_88502_2016.csv")
CO_raw = pd.read_csv("data/Gases&PM_AQI/CO_42101_2016.csv")
NO2_raw = pd.read_csv("data/Gases&PM_AQI/NO2_42602_2016.csv")
Ozone_raw = pd.read_csv("data/Gases&PM_AQI/Ozone_44201_2016.csv")
PM10_raw = pd.read_csv("data/Gases&PM_AQI/PM10_81102_2016.csv")
SO2_raw = pd.read_csv("data/Gases&PM_AQI/SO2_42401_2016.csv")

In [49]:
PM25_88101 = PM25_88101_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
PM25_88101.rename({'AQI':'AQI_PM2.5_88101'}, axis=1, inplace=True)
PM25_88101.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
PM25_88101['Date Local'] = pd.to_datetime(PM25_88101['Date Local'])
PM25_88101['Year'] = pd.DatetimeIndex(PM25_88101['Date Local']).year
PM25_88101['Month'] = pd.DatetimeIndex(PM25_88101['Date Local']).month
PM25_88101['Day'] = pd.DatetimeIndex(PM25_88101['Date Local']).day
PM25_88101.drop('Date Local', axis=1, inplace=True)
PM25_88101.dropna(axis = 0, subset=['AQI_PM2.5_88101'], inplace=True)
PM25_88101.head()

PM25_88502 = PM25_88502_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
PM25_88502.rename({'AQI':'AQI_PM2.5_88502'}, axis=1, inplace=True)
PM25_88502.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
PM25_88502['Date Local'] = pd.to_datetime(PM25_88502['Date Local'])
PM25_88502['Year'] = pd.DatetimeIndex(PM25_88502['Date Local']).year
PM25_88502['Month'] = pd.DatetimeIndex(PM25_88502['Date Local']).month
PM25_88502['Day'] = pd.DatetimeIndex(PM25_88502['Date Local']).day
PM25_88502.drop('Date Local', axis=1, inplace=True)
PM25_88502.dropna(axis = 0, subset=['AQI_PM2.5_88502'], inplace=True)
PM25_88502.head()

CO = CO_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
CO.rename({'AQI':'AQI_CO'}, axis=1, inplace=True)
CO.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
CO['Date Local'] = pd.to_datetime(CO['Date Local'])
CO['Year'] = pd.DatetimeIndex(CO['Date Local']).year
CO['Month'] = pd.DatetimeIndex(CO['Date Local']).month
CO['Day'] = pd.DatetimeIndex(CO['Date Local']).day
CO.drop('Date Local', axis=1, inplace=True)
CO.dropna(axis = 0, subset=['AQI_CO'], inplace=True)
CO.head()

NO2 = NO2_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
NO2.rename({'AQI':'AQI_NO2'}, axis=1, inplace=True)
NO2.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
NO2['Date Local'] = pd.to_datetime(NO2['Date Local'])
NO2['Year'] = pd.DatetimeIndex(NO2['Date Local']).year
NO2['Month'] = pd.DatetimeIndex(NO2['Date Local']).month
NO2['Day'] = pd.DatetimeIndex(NO2['Date Local']).day
NO2.drop('Date Local', axis=1, inplace=True)
NO2.dropna(axis = 0, subset=['AQI_NO2'], inplace=True)
NO2.head()

SO2 = SO2_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
SO2.rename({'AQI':'AQI_SO2'}, axis=1, inplace=True)
SO2.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
SO2['Date Local'] = pd.to_datetime(SO2['Date Local'])
SO2['Year'] = pd.DatetimeIndex(SO2['Date Local']).year
SO2['Month'] = pd.DatetimeIndex(SO2['Date Local']).month
SO2['Day'] = pd.DatetimeIndex(SO2['Date Local']).day
SO2.drop('Date Local', axis=1, inplace=True)
SO2.dropna(axis = 0, subset=['AQI_SO2'], inplace=True)
SO2.head()

Ozone = Ozone_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
Ozone.rename({'AQI':'AQI_Ozone'}, axis=1, inplace=True)
Ozone.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
Ozone['Date Local'] = pd.to_datetime(Ozone['Date Local'])
Ozone['Year'] = pd.DatetimeIndex(Ozone['Date Local']).year
Ozone['Month'] = pd.DatetimeIndex(Ozone['Date Local']).month
Ozone['Day'] = pd.DatetimeIndex(Ozone['Date Local']).day
Ozone.drop('Date Local', axis=1, inplace=True)
Ozone.dropna(axis = 0, subset=['AQI_Ozone'], inplace=True)
Ozone.head()

PM10 = PM10_raw[['State Code', 'County Code','Site Num','Date Local', 'AQI','State Name', 'County Name']]
PM10.rename({'AQI':'AQI_PM10'}, axis=1, inplace=True)
PM10.rename({'State Name':'State', 'County Name': 'County'}, axis=1, inplace=True)
PM10['Date Local'] = pd.to_datetime(PM10['Date Local'])
PM10['Year'] = pd.DatetimeIndex(PM10['Date Local']).year
PM10['Month'] = pd.DatetimeIndex(PM10['Date Local']).month
PM10['Day'] = pd.DatetimeIndex(PM10['Date Local']).day
PM10.drop('Date Local', axis=1, inplace=True)
PM10.dropna(axis = 0, subset=['AQI_PM10'], inplace=True)
PM10.head()

,State Code,County Code,Site Num,AQI_PM10,State,County,Year,Month,Day
0,1,73,23,8,Alabama,Jefferson,2016,1,1
1,1,73,23,8,Alabama,Jefferson,2016,1,1
2,1,73,23,8,Alabama,Jefferson,2016,1,2
3,1,73,23,8,Alabama,Jefferson,2016,1,2
4,1,73,23,9,Alabama,Jefferson,2016,1,3

In [63]:
PM25_88101.head()

,State Code,County Code,Site Num,AQI_PM2.5_88101,State,County,Year,Month,Day
0,1,3,10,33.0,Alabama,Baldwin,2016,1,1
1,1,3,10,22.0,Alabama,Baldwin,2016,1,4
2,1,3,10,28.0,Alabama,Baldwin,2016,1,7
3,1,3,10,13.0,Alabama,Baldwin,2016,1,10
4,1,3,10,36.0,Alabama,Baldwin,2016,1,13

In [67]:
PM25 = pd.merge(PM25_88101, PM25_88502, how="outer",on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
PM25['AQI_PM2.5'] = PM25[["AQI_PM2.5_88101", "AQI_PM2.5_88502"]].max(axis=1)
PM25.head()

,State Code,County Code,Site Num,AQI_PM2.5_88101,State,County,Year,Month,Day,AQI_PM2.5_88502,AQI_PM2.5
0,1,3,10,33.0,Alabama,Baldwin,2016,1,1,NaN,33.0
1,1,3,10,22.0,Alabama,Baldwin,2016,1,4,NaN,22.0
2,1,3,10,28.0,Alabama,Baldwin,2016,1,7,NaN,28.0
3,1,3,10,13.0,Alabama,Baldwin,2016,1,10,NaN,13.0
4,1,3,10,36.0,Alabama,Baldwin,2016,1,13,NaN,36.0

In [75]:
specificAQI = pd.merge(PM25, PM10, how='outer', on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
specificAQI = pd.merge(specificAQI, CO, how='outer', on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
specificAQI = pd.merge(specificAQI, NO2, how='outer', on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
specificAQI = pd.merge(specificAQI, Ozone, how='outer', on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
specificAQI = pd.merge(specificAQI, SO2, how='outer', on=["Year", "State", "County", "Month", "Day","State Code","County Code", "Site Num"])
specificAQI['State'] = specificAQI['State'].str.lower()
specificAQI['County'] = specificAQI['County'].str.lower()
specificAQI.head()

,State Code,County Code,Site Num,AQI_PM2.5_88101,State,County,Year,Month,Day,AQI_PM2.5_88502,AQI_PM2.5,AQI_PM10,AQI_CO,AQI_NO2,AQI_Ozone,AQI_SO2
0,1,3,10,33.0,alabama,baldwin,2016,1,1,NaN,33.0,NaN,NaN,NaN,NaN,NaN
1,1,3,10,22.0,alabama,baldwin,2016,1,4,NaN,22.0,NaN,NaN,NaN,NaN,NaN
2,1,3,10,28.0,alabama,baldwin,2016,1,7,NaN,28.0,NaN,NaN,NaN,NaN,NaN
3,1,3,10,13.0,alabama,baldwin,2016,1,10,NaN,13.0,NaN,NaN,NaN,NaN,NaN
4,1,3,10,36.0,alabama,baldwin,2016,1,13,NaN,36.0,NaN,NaN,NaN,NaN,NaN

In [77]:
os.chdir("/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project/Github/Air-Quality-Prediction-Regression")
print(os.getcwd())
specificAQI.to_csv("data/specificAQI_2016.csv")

/Users/tessleggio/GoogleDrive/GeorgiaTech/2018-Fall/01-ISYE-6414/6414Project/Github/Air-Quality-Prediction-Regression